<div class="container">
    <a routerLink="/matiere" class="ajouterBtn" >
           <button mat-flat-button color="primary">
             retourner à la liste des  matières
           </button>
         </a>
    <h1>Modifier une matiere</h1>

<form ngForm  #formMatiere   class="form" >

    <input type="hidden" name="id"  [(ngModel)]="id"/>
    <input type="hidden" name="image"  [(ngModel)]="image"/>
    <input type="hidden" name="idProfSelectionne"  [(ngModel)]="idProfSelectionne"/>
    
    <mat-form-field >
           <mat-label>Nom matière</mat-label>
           <input matInput   name="nom" [(ngModel)]="nom"
                 type="text" required>
    </mat-form-field>
   <br>
   <mat-form-field >
            <mat-label>Professeur selectionné</mat-label>
            <input matInput   name="prof" readonly [(ngModel)]="prof"  
                type="text" required>
    </mat-form-field>
    <mat-form-field>
           <mat-label>Changer le professeur</mat-label>
           <mat-select [(ngModel)]="profChange"  name="profChange" matNativeControl  >
                  
                  
                  <mat-option *ngFor="let professeur of professeurs" [value]="professeur._id">
                         {{professeur.prenom}} {{professeur.nom}}
                       </mat-option>
           </mat-select>
          
    </mat-form-field>
    <mat-label>Image matière :</mat-label>
    <div style="width:40%; height:40%;" class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div  fxFlex.xs="100%" fxFlex.sm="33%" >
            <mat-card class="mat-elevation-z4">
              <img  mat-card-image src="{{image}}">
            </mat-card>
          </div>
        </div>
      </div>
      <mat-form-field >
        <mat-label>Le lien de l 'image de la matière si vous voulez changez</mat-label>
        <input matInput   name="imageAInserer" [(ngModel)]="imageAInserer"
              type="url" >
      </mat-form-field>
       <br><br>
           <button type="submit" [disabled]="!nom " mat-stroked-button color="primary"  (click)="updateMatiere()">
             Modifier matière
           </button>
         
   
  </form>




</div>




