<div class="container">
  <a routerLink="/addMatiere" class="ajouterBtn" >
      <button mat-flat-button color="primary">
        Ajouter une matiere
      </button>
    </a>
    <div class="pagination">
      <button mat-raised-button color="primary" (click)="premierePage()">
        Première
      </button>
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
        Prev
      </button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
        Suiv
      </button>
      <button mat-raised-button color="primary" (click)="dernierePage()">
        Dernière
      </button>
    </div>
 
  <table class="image-table">
    <caption>Liste des matières</caption>
    <thead>
      <tr>
        <th scope="col">image matiere</th>
        <th scope="col">Nom matiere</th>
        <th scope="col">Nom professeur</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let matiere of matieres">
        <td data-label="image matiere">
          
            <img  width="45%" src="{{matiere.image}}"  >
        
         
        </td>
        <td data-label="Nom matiere">{{matiere.nom  }}</td>
        
        <td  data-label="Nom professeur">{{matiere.prof[0].nom}} {{matiere.prof[0].prenom  }}</td>


        <td data-label="Actions">
          <!--<a  (click)="deleteMatiere(matiere)" title="supprimer matiere" mat-icon-button  aria-label="Suppression">
            <mat-icon>restore_from_trash</mat-icon>
          </a>-->
          <a  routerLink="/matiere/{{matiere._id}}/edit"title="modifier matiere" mat-icon-button  aria-label="Modification">
            <mat-icon>update</mat-icon>
          </a>
        </td>
      </tr>
     
    </tbody>
  </table>
    
    
</div>

